@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Inter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    width: 100%;
}

html{
    background-color: rgb(255, 255, 255);
}

/* Background do SENAI */
#imgsenai {
    top: -10px;
    height: 170px;
    position: relative;
}

/* Barra preta */
.barra {
    background-color: black;
    position: relative;
    margin-top: -15px;
}
/* Título da Página */
.barra h1 {
    font-family: Roboto;
    position: absolute;
    color: #E0EEEE;
    font-size: 27px;
    text-align: center;
    width: 250px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* Texto */
.paragrafo h3 {
    text-align: center;
    line-height: 25px;    
    font-family: 'Asap', sans-serif;    
    text-align: center;
    font-size: 20px;        
    line-height: 24px;
}


/* Imagem dos alunos */
.imgalunos {
    position: static;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 90%;
    height: 100%;   
}


/* botão home */
#botaoverm {
    margin-top: 5px;
    margin-left: 15px;
    border: #E0EEEE;
    background-color: #ff0000;
    width: 40px;
    height: 40px;
    border-radius: 7px;
    padding: 5px;
}

.btns{
    position: absolute;
    margin-top: 20px;
    

}

.btns a{
    font-size: 20px;
    background-color: #BF0000;
    border-radius: 11px;
    text-decoration: none; 
    color: #E0EEEE;
    padding: 5px;
    font-size: 35px;
}
 
footer{
    height: 240px;
    background-color:#BF0000;
    padding: 5px;
    margin-top: 200px;
}

footer p{
    margin-top: 100px;
    font-size: 15px;
    color: #E0EEEE;
    line-height: 20px;
}
strong{
    color: black;
}
.logo{
    width: 167px;
    height: 120px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%) 
}


/* RESPONSIVIDADE */ /* RESPONSIVIDADE */
/* RESPONSIVIDADE */ /* RESPONSIVIDADE */
/* RESPONSIVIDADE */ /* RESPONSIVIDADE */
/* RESPONSIVIDADE */ /* RESPONSIVIDADE */

@media screen and (width:1280px) and (height:881px){   
    
    header{
        background-color: rgb(175, 33, 33);
        align-items: center;
        height: 250px;
    }

    #imgsenai{
        margin-left: 280px;
        margin-right: 280px;
        width: 700px;
        height: 250px;
    }

    .barra{
        height: 70px;
    }
    
    #botaoverm{
        margin-top: 12px;
    }

    .imgalunos{
        width: 720px;
        height: 450px;
    }

    footer{
        height: 250px;
        margin-top: 160px;
    }

    footer p{
        line-height: 35px;
        font-size: 18px;
    }
}