@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Inter:wght@300&display=swap');
 
* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    width: 100%;
}
 
/* Background do SENAI */
#imgsenai {
    top: -10px;
    height: 170px;
    position: relative;
}
 
/* Barra preta */
.barra {
    background-color: black;
    position: relative;
    margin-top: -15px;
}
/* Título da Página */
.barra h1 {
    margin: 0;
    position: absolute;
    color: #E0EEEE;
    font-size: 25px;
    text-align: center;
    width: 250px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
 
/* botão home */
#botaoverm {
    margin-top: 5px;
    margin-left: 15px;
    border: #E0EEEE;
    background-color: #ff0000;
    width: 40px;
    height: 40px;
    border-radius: 7px;
    padding: 5px;
}
 
.paragrafo{
    position: relative;
    margin-top: 220px;
    text-align: center;
}
 
.paragrafo, h3{
    margin-top: 350px;
}



.imgmaquina{
    position: absolute;
    height: 300px;
    width: 300px;
    margin-top: 20px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%) 
} 
.btnManual{
    position: relative;
    background-color: #BF0000; 
    border-radius: 36px; 
    padding: 15px; 
    cursor: pointer; 
    border: none; 
    font-size: 16px; 
    margin-top: 45px;
    width: 65%;
    color: #ffffff;
}
.btnSeguranca{
    position: relative;
    background-color: #BF0000; 
    border-radius: 36px; 
    padding: 15px; 
    cursor: pointer; 
    border: none; 
    font-size: 16px; 
    margin-top: 30px;
    width: 65%;
    color: #ffffff;
}
 
.logo{
    width: 167px;
    height: 120px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%) 
}

.container{
    position: relative;
    width: 400px;
}

.carousel-indicator li{
    position: relative;
}

footer{
    height: 240px;
    background-color:#BF0000;
    padding: 5px;
    margin-top: 100px;
}

footer p{
    margin-top: 100px;
    font-size: 15px;
    color: #E0EEEE;
    line-height: 20px;
    text-align: left;
}
strong{
    color: black;
}
.logo{
    width: 167px;
    height: 120px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%) 
}