* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    
    background: #F6F6F2;
}

a {
    color: #BF0000;
}

h1 {
    padding: 25px 0;
    font-family: Roboto;
}

p {
    font-size: 18px;
    line-height: 30px;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.menu {
    position: absolute;
    transform: translateX(-300px);
    width: 300px;
    background: #BF0000;
    padding: 20px;
    z-index: 1;
    transition: .3s ease all;    
    height: calc(100% + 280px);
}

.menu ul {
    list-style: none;
}

.menu .btn {
    background: #FFF;
    color:#BF0000;
    border-radius: 5px;
    margin-bottom: 30px;
}

.menu a {
    font-size: 1em;
    display: inline-block;
    padding: 10px;
    color: #FFF;
    text-decoration: none;
}

.wrapper.show-menu .menu {
    transform: initial;
}

.maquina{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    margin-bottom: 10px;
}


/* RESPONSIVIDADE */ /* RESPONSIVIDADE */
/* RESPONSIVIDADE */ /* RESPONSIVIDADE */
/* RESPONSIVIDADE */ /* RESPONSIVIDADE */
/* RESPONSIVIDADE */ /* RESPONSIVIDADE */

@media screen and (width:1280px) and (height:881px){
   .menu{
    height: calc(100% + 520px);
   }
    
}