* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    
    background: #F6F6F2;
}

a {
    color: #BF0000;
}

h1 {
    padding: 25px 0;
    font-family: Roboto;
}

p {
    font-size: 18px;
    line-height: 30px;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.menu {
    position: absolute;
    transform: translateX(-300px);
    width: 300px;
    background: #BF0000;
    padding: 20px;
    z-index: 50;
    transition: .3s ease all;    
    height: calc(100% + 100px);
}

.menu ul {
    list-style: none;
    margin-top: -10px;
}

.menu .btn {
    background: #FFF;
    color:#BF0000;
    border-radius: 5px;
    margin-bottom: 30px;
}

.menu a {
    font-size: 1em;
    display: inline-block;
    padding: 10px;
    color: #FFF;
    text-decoration: none;
}

.wrapper.show-menu .menu {
    transform: initial;
}

.maquina{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    margin-bottom: 10px;
}



/* Botão Camêra */

label.cameraButton {
    display: inline-block;
    margin: 1em 0;
  
    /* Styles to make it look like a button */
    padding: 0.5em;
    border: 2px solid #666;
    border-radius: 25px;
    border-color: #eee #ccc #ccc #eee;
    background-color: rgb(255, 255, 255);
  }
  
  /* Look like a clicked/depressed button */
  label.cameraButton:active {
    border-color: #ccc #eee #eee #ccc;
  }
  
  /* This is the part that actually hides the 'Choose file' text box for camera inputs */
  label.cameraButton input[accept*="camera"] {
    display: none;
  }



























/* RESPONSIVIDADE */ /* RESPONSIVIDADE */
/* RESPONSIVIDADE */ /* RESPONSIVIDADE */
/* RESPONSIVIDADE */ /* RESPONSIVIDADE */
/* RESPONSIVIDADE */ /* RESPONSIVIDADE */

@media screen and (width:1280px) and (height:881px){
   .menu{
    height: calc(100% + 520px);
   }
    
}