
*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
  }
  
#cabecalho{
    height: 100px;
    width: 100%;
    position: relative;
    top: -25px;
    bottom: 2000px;
}

.barra{
    background-color: black;
    height: 75px;
    width: 414px;
    position: absolute;   
    margin-top: 20px; 
  }
  .logoSenai{
    position: relative;
    width: 100vh;
    height: 100px;
  }
  .nome h1{
    margin-left: 98px;
    position: absolute;
    color: #E0EEEE;
    margin-top: -38px;
    font-size: 25px;
  }
  
  /* botão home */
  #btBusca{
    margin-top: 20px;
    margin-left: 15px;
    border: #E0EEEE;
    background-color: #ff0000 ;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    padding: 5px;
    }
    
  
  /* barra de pesquisa */
  #divBusca{
      align-self: center;
      background-color:#E0EEEE;
      border: none;
      border-radius:10px;
      width:300px;
      height:32px;
      margin-top: 100px;
      position: absolute;
      margin-left: 25%;
    }
    
    #txtBusca{
      float:left;
      background-color:transparent;
      padding-left:5px;
      font-size:18px;
      border:none;
      height:32px;
      width:191px;
    }
    
    #btnBusca{
      border:none;
      float:left;
      height:32px;
      border-radius:0 7px 7px 0;
      width: 72px;
      font-weight:bold;
      background:rgba(0, 0, 0, 0.356);
    }
    
    #divBusca img{
      float:left;
      width: 25px;
      margin-left: 5px;
      margin-top: 3px;
    }