* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}


body {
    max-width: 414px;
}


/* Background do SENAI */
#imgsenai {
    min-width: 415px;
    top: -10px;
    height: 170px;
    position: relative;
}



/* Barra preta */
.barra {
    background-color: black;
    min-height: 85px;
    width: 415px;
    position: relative;
    margin-top: -15px;
}
/* Titulo da página */
.barra h1 {
    position: absolute;
    color: #E0EEEE;
    font-size: 31px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 53%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


/* botão home */
#botaoverm {
    margin-top: 20px;
    margin-left: 15px;
    border: #E0EEEE;
    background-color: #ff0000;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    padding: 5px;
}

/* barra de pesquisa */
#divBusca {
    position: static;
    min-width: 415px;
    min-height: 40px;
}
.busca {
    position: absolute;
    margin-top: 10px;
    background-color: #c03636d7;
    border-radius: 10px;
    width: 300px;
    height: 32px;
    margin-left: 100px;
}
#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 190px;
    color: black;
}
::-webkit-input-placeholder {
    color: black;
    font: 18px;
}
#btnBusca {
    border: none;
    float: left;
    height: 32px;
    border-radius: 0 7px 7px 0;
    width: 74px;
    font-weight: bold;
    background: rgba(240, 2, 2, 0.282);
}
#divBusca img {
    float: left;
    width: 25px;
    margin-left: 5px;
    margin-top: 3px;
}